/* Variables */
:root {
  --primary-color: #444f2c;
  --secondary-color: #99a57e;
  --background-color: #d0ddb4;
  --header-color: #ffffff;
  --main-font: "Sour Gummy", sans-serif;
}

/* Main page */

#body1 {
  margin: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

#header1, #header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  box-shadow: 0px 5px 30px rgb(204, 202, 202);
  
}

/* Title with my name */

#myname {
  font-size: 2rem;
  padding: 25px;
  margin: 0;
  color: var(--primary-color);
}

/* Navigation buttons */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#link a {
  background-color: var(--primary-color);
  color: var(--header-color);
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

#link a:hover {
  background-color: var(--secondary-color);
}

.major {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* About me section */

#aboutme {
  width: 100%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aboutme h2 {
  margin-top: 30%;
  margin-left: 30%;
  font-size: 5rem;
  color: var(--primary-color);
}

#aboutme p {
  margin: 20%;
  padding: 5%;
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 200px;
  text-align: center;
  color: #e7e0e0;
}

#btn-read{
  background-color: var(--secondary-color);
  margin-left: 15%;
  font-size: 2rem;
  font-family: var(--main-font);
}

/* Projects section */

#projects {
  width: 100%;
  margin-top: 0;
  background-color: var(--header-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "ul titulo";
}

#projects h2 {
  margin: 30%;
  font-size: 5rem;
  grid-area: titulo;
  color: var(--primary-color);
}

#projects ul {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  justify-content: center;
  padding: 0;
  margin-top: 15%;
  grid-area: ul;
}

#project a {
  background-color: var(--primary-color);
  color: var(--header-color);
  border-radius: 5px;
  text-decoration: none;
  padding: 30px;
  margin: 30px;
  font-size: 1.5rem;
}

#project a:hover {
  background-color: #dee2d5;
  color: #000000;
}

#btn-hidden {
    grid-area: titulo;
    align-self: end;
    margin-bottom: 20%;
    width: fit-content;
    justify-self: center;
}

/* Contact section */

#contact {
  width: 100%;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact h2 {
  margin: 30%;
  font-size: 5rem;
  color: var(--primary-color);
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-right: 90px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  text-align: center;
}

label {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 7%;
}

textarea {
  resize: vertical;
}

button {
  margin-right: 10%;
  margin-top: 15px;
  padding: 15px;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* Footer */

#foot {
  width: 100%;
  padding: 15px;
  height: 80px;
  margin-top: 30px;
  background-color: var(--header-color);
  box-shadow: 0px 5px 30px rgb(148, 145, 145);
}

#copy {
  background-color: var(--header-color);
  margin-left: 45%;
  color: var(--primary-color);
}

/* Pets page */

#body2 {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--main-font);
}

#header2 h1 {
  margin-left: 10px;
  color: var(--primary-color);
}

/* Pet cards */

#card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}

.card-pet {
  background-color: #f1f3eb;
  width: 70%;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 12%;
}

.img-pet {
  max-width: 100%;
  height: auto;
}

.card-pet h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
}

.card-pet:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px gray;
}

/* Footer */

#foot-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: 80px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgb(148, 145, 145);
}

#copyr {
  color: #444f2c;
  margin-right: 45%;
  background-color: #fff;
}

/* Back button */

#go-back {
  background-color: #6e7d4e;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin-left: 15px;
}

#go-back:hover {
  background-color: var(--primary-color);
}

/* Scroll to top button */

html {
  scroll-behavior: smooth;
}

.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--header-color);
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Media query */

/* Mobile */

@media (max-width: 768px) {
  #header1,
  #header2 {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  #link a {
    display: block;
    width: 80%;
    margin: 5px auto;
  }

  #aboutme, #contact {
    grid-template-columns: 1fr;
  }

  #projects{
    display: block;
  }

  #project li{
    display: grid;
    grid-template-columns: 1fr;
    
  }

}

/* Tablets */

@media (min-width: 769px) and (max-width: 1024px) {
  #aboutme,
  #projects,
  #contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 769px) {
  #card {
    display: block;
  }

  .card-pet {
    margin-bottom: 2rem;
  }
}

@media (max-width: 840px) {
  #card {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

