


/* Pagina de mascotas */


#regresar{
    background-color: #6e7d4e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;
}

#regresar:hover{
    background-color: #444f2c;
}




.card-mascotas{
    background-color: #6e7d4e;
    width: 100%;
    border: 2px solid #444f2c;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.card-mascotas img{
    width: 100%;
    height: auto;
}

.card-mascotas:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px gray;

}

.nombre-mascota{
    background-color: #d8e0c7;
    text-align: center;
    font-size: 20px;
    
}

#pie-pagina{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 100px;
    background-color: #fff;
}

.descripcion-mascota{
    background-color: #d8e0c7;
    padding: 5px;
    text-align: center;
}

#copyr{
    margin-right: 45%;
    background-color: #fff;
}
