/* Variables */
:root {
  --color-principal: #444f2c;
  --color-secunadrio: #99a57e;
  --color-fondo: #d0ddb4;
  --color-header: #ffffff;
}

/* Pagina principal*/

#cuerpo1 {
  margin: 0;
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  font-family: "Sour Gummy", sans-serif;
}

#header1, #header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  box-shadow: 0px 5px 30px rgb(204, 202, 202);
  position: sticky;
  top: 0;
}

/* Titulo con mi nombre */

#encabezado {
  font-size: 2rem;
  padding: 25px;
  margin: 0;
  color: var(--color-principal);
}

/* Botones de navegación */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#enlace a {
  background-color: var(--color-principal);
  color: var(--color-header);
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

#enlace a:hover {
  background-color: var(--color-secunadrio);
}

.principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* Apartado sobre mi */

#sobremi {
  width: 100%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#sobremi h2 {
  margin-top: 30%;
  margin-left: 30%;
  font-size: 5rem;
  color: var(--color-principal);
}

#sobremi p {
  margin: 20%;
  padding: 5%;
  font-size: 2rem;
  background-color: var(--color-principal);
  border-radius: 200px;
  text-align: center;
  color: #e7e0e0;
}

/* Apartados de proyectos */

#proyectos {
  width: 100%;
  margin-top: 0;
  background-color: var(--color-header);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "ul titulo";
}

#proyectos h2 {
  margin: 30%;
  font-size: 5rem;
  grid-area: titulo;
  color: var(--color-principal);
}

#proyectos ul {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  justify-content: center;
  padding: 0;
  margin-top: 15%;
  grid-area: ul;
}

#project a {
  background-color: var(--color-principal);
  color: var(--color-header);
  border-radius: 5px;
  text-decoration: none;
  padding: 30px;
  margin: 30px;
  font-size: 1.5rem;
}

#project a:hover {
  background-color: #dee2d5;
  color: #000000;
}

/* Apartado de contacto */

#contacto {
  width: 100%;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contacto h2 {
  margin: 30%;
  font-size: 5rem;
  color: var(--color-principal);
}

#contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-right: 90px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  text-align: center;
}

label {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 7%;
}

textarea {
  resize: vertical;
}

button {
  margin-right: 10%;
  margin-top: 15px;
  padding: 15px;
  background-color: var(--color-principal);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* Footer */

#pie {
  width: 100%;
  padding: 15px;
  height: 80px;
  margin-top: 30px;
  background-color: var(--color-header);
  box-shadow: 0px 5px 30px rgb(148, 145, 145);
}

#copy {
  background-color: var(--color-header);
  margin-left: 45%;
  color: var(--color-principal);
}

/* Pagina mascota */

#cuerpo2 {
  margin: 0;
  background-color: var(--color-fondo);
  font-family: "Sour Gummy", sans-serif;
}

#header2 h1 {
  margin-left: 10px;
  color: var(--color-principal);
}

/* Tarjetas/Card de las mascotas */

#tarjeton {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}

.card-mascota {
  background-color: #f1f3eb;
  width: 70%;
  border: 2px solid var(--color-principal);
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 12%;
}

.img-mascota {
  max-width: 100%;
  height: auto;
}

.card-mascota h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-principal);
}

.card-mascota:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px gray;
}

/* Pie de pagina/ footer */

#pie-pagina {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: 80px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgb(148, 145, 145);
}

#copyr {
  color: #444f2c;
  margin-right: 45%;
  background-color: #fff;
}

/* Botón de regreso */

#regresar {
  background-color: #6e7d4e;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin-left: 15px;
}

#regresar:hover {
  background-color: var(--color-principal);
}

/* Botón para subir */

html {
  scroll-behavior: smooth;
}

.subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  /* Estilo de círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: var(--color-principal);
  color: var(--color-header);
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Media query */

/* Celulares */

@media (max-width: 768px) {
  #header1,
  #header2 {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  #enlace a {
    display: block;
    width: 80%;
    margin: 5px auto;
  }

  #sobremi, #contacto {
    grid-template-columns: 1fr;
  }

  #proyectos{
    display: block;
  }

  #project li{
    display: grid;
    grid-template-columns: 1fr;
    
  }

}

/* Tablets */

@media (min-width: 769px) and (max-width: 1024px) {
  #sobremi,
  #proyectos,
  #contacto {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 769px) {
  #tarjeton {
    display: block;
  }

  .card-mascota {
    margin-bottom: 2rem;
  }
}

@media (max-width: 840px) {
  #tarjeton {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
